<div class="cartContainer">
    <div *ngIf="totalCartItems > 0 " class="pt-3">
        <div class="cart-header p-3">My Cart ({{totalCartItems}} items)</div>
        <div class="cart-body mt-3">
            <ng-container *ngFor="let product of $cartProducts | async">
                <div class="product px-2 d-flex flex-row align-items-center">
                    <img src="assets/{{product.productUrl}}" width="150" height="150">
                    <div class="d-flex flex-column ml-4">
                        <h6>{{product.productName}}</h6>
                        <div class="d-flex flex-row">
                            <button class="btn btn-pink btn-sm"
                                (click)="updateProduct(product.productId, false)">-</button> <span
                                class="mx-1">{{product.productValue}} </span><button class="btn btn-pink btn-sm"
                                (click)="updateProduct(product.productId, true)">+</button>
                        </div>
                    </div>
                    <div class="price ml-auto">
                        <strong>Rs.{{product.productPrice}} </strong>
                    </div>

                </div>
            </ng-container>
        </div>
        
    </div>
    <div class="checkout w-100" *ngIf="totalCartItems!==0">
        <button class="w-100 btn btn-pink d-sm-flex justify-content-between"><span class="text-align-left">Proceed to checkout</span> <span class="text-align-right ml-2">Rs.{{$cartPrice | async}}</span></button>
    </div>
    <div *ngIf="totalCartItems===0" class="noItems">
        <strong>No items in cart</strong><br />
        <span>Your favourite items are just a click away</span>
    </div>

</div>